<div class="row">
  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class= "containerenc">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fondoenc">
          <div>
            <img class="argp" [src]="miPortfolio.imglogo" width="170" height="50" />
          </div>
          <br> <br>
          <div>
            <button type="button" class="btn btn-primary"
              style="--bs-btn-padding-y: 6px; --bs-btn-padding-x: 5px; --bs-btn-font-size: 11px;">
              Contacto </button>
            <button type="button" class="btn btn-primary"
              style="--bs-btn-padding-y: 6px; --bs-btn-padding-x: 5px; --bs-btn-font-size: 11px;">
              Registrarme</button>
          </div>
        </div>
        <br> <br>
      </div>
      <br>
      <img [src]="miPortfolio.imgbann" alt="image" class="full-width-img">
    </div>
  </div>
</div>
<!-- -->