
   <!-- <div class="row">

 
   <div class="col-xs-12 col-sm-12 col-md-12 col-ig-12">
    <img class="perfil" [src]="miPortfolio.imgbarra" width="100%" height="75" />
   </div> -->

  <div class="row">
    <div class="fondoenc">
     <br>
     <div class="col-xs-12 col-sm-12 col-md-12 col-ig-12 encab"> 
       <img class="argp" [src]="miPortfolio.imglogo" width="170" height="50" />
         <!-- <nav class="barra">
           <a href="#footer">Inicio</a>
           <a href="mailto:brisalujant@gmail.com"> Contacto </a>
           <a href="/assets/registro.html">  Registrarme  </a>
          </nav> -->
         <div class="barra">
          <button type="button" class="btn btn-primary"
           style="--bs-btn-padding-y: 6px; --bs-btn-padding-x: 10px; --bs-btn-font-size: 11px;">
          Contacto </button>
          <button type="button" class="btn btn-primary"
           style="--bs-btn-padding-y: 6px; --bs-btn-padding-x: 10px; --bs-btn-font-size: 11px;">
           Registrarme</button>
          </div>
      </div>
      <br>
    </div>
</div>
<br>
<br>
<div class="col-xs-12 col-sm-12 col-md-12 col-ig-12">
    <img [src]="miPortfolio.imgbann" width="100%" height="550" />
  </div>
  <br>

    <!--
    <div class="col-xs-2 col-sm-2 col-md-2 col-ig-2" >
     <img class="argp" [src]="miPortfolio.imglogo" width="170" height="50" /> 
   </div>
  </div>
  <br>
  -->