<br>
<h2><u>Hard & Soft Skills</u>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <circle-progress [percent]="65" [radius]="75" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
            [outerStrokeColor]="'rgb(15, 177, 56)'" [innerStrokeColor]="'#73c0df'" [animation]="true"
            [animationDuration]="650" [titleFontSize]="'35'" [showSubtitle]="false">
          </circle-progress>
        </div>
        <div class="col">
          <circle-progress [percent]="55" [radius]="75" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
            [outerStrokeColor]="'rgb(15, 177, 56)'" [innerStrokeColor]="'#73c0df'" [animation]="true"
            [animationDuration]="650" [titleFontSize]="'35'" [showSubtitle]="false"> 
          </circle-progress>
        </div>
        <div class="col">
          <circle-progress [percent]="35" [radius]="75" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
            [outerStrokeColor]="'rgb(15, 177, 56)'" [innerStrokeColor]="'#73c0df'" [animation]="true"
            [animationDuration]="650" [titleFontSize]="'35'" [showSubtitle]="false">
          </circle-progress>
        </div>
      </div>
    </div>

    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="text"><b style="color: rgb(15, 177, 56)">HTML</b></h2>
        </div>
        <div class="col">
          <h2 class="text"><b style="color: rgb(15, 177, 56)">CSS</b></h2>
        </div>
        <div class="col">
          <h2 class="text"><b style="color: rgb(15, 177, 56)">Java</b></h2>
        </div>
      </div>
    </div>
    <br> <br>

    <div class="container text-center">
      <div class="row">
        <div class="col">
          <circle-progress [percent]="50" [radius]="75" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
            [outerStrokeColor]="'#73c0df'" [innerStrokeColor]="'rgb(15, 177, 56)'" [animation]="true"
            [animationDuration]="650" [titleFontSize]="'35'" [showSubtitle]="false">
          </circle-progress>
        </div>
        <div class="col">
          <circle-progress [percent]="35" [radius]="75" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
            [outerStrokeColor]="'#73c0df'" [innerStrokeColor]="'rgb(15, 177, 56)'" [animation]="true"
            [animationDuration]="650" [titleFontSize]="'35'" [showSubtitle]="false">
          </circle-progress>
        </div>
        <div class="col">
          <circle-progress [percent]="45" [radius]="75" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
            [outerStrokeColor]="'#73c0df'" [innerStrokeColor]="'rgb(15, 177, 56)'" [animation]="true"
            [animationDuration]="650" [titleFontSize]="'35'" [showSubtitle]="false">
          </circle-progress>
        </div>
      </div>
    </div>

    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="text2"><b style="color:#017bab">GitHub</b></h2>
        </div>
        <div class="col">
          <h2 class="text2"><b style="color:#017bab">Inglés</b></h2>
        </div>
        <div class="col">
          <h2 class="text2"><b style="color:#017bab">Portugués</b></h2>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>