<div class="row">
<div class="lineaproy">
        <br>
        <h2><u>Proyectos</u></h2>
        <br><br><br><br>
        <div class="contenedorp">
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 textproy">
                <h3>Diseño de red</h3>
                <p>Utilizando packet tracer realicé un diseño de red donde se representan dos routers,
                    a los cuales se conectan (a cada una por cable), dos computadoras de escritorio y una computadora
                    portátil.
                    Al router principal se conecta de forma inalámbrica una computadora de ecritorio,
                    mientras que al router secundario se conectan (también de forma inalámbrica), una computadora de
                    escritorio y otra portátil.
                    <br>
                    Una de las computadoras portátiles se encuentra bloqueada por dirección MAC.
                    <br>
                    Los nodos estan configurados con un rango a partir del 200 y permiten alojar 9 Host.
                </p>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 imgredd" >
                <img [src]="miPortfolio.imgdred" class="img-fluid"/>
            </div>  
        </div>
        <br>
        <br>
        <br>
    </div>
</div>
<br>