<!--
    <div class="row">
    <h1><u>Proyectos</u></h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-6 col-lg-5 textproy">
            <h3>Diseño de red</h3>
            <p>Utilizando packet tracer realicé un diseño de red donde se representan dos routers, 
                a los cuales se conectan (a cada una por cable), dos computadoras de escritorio y una computadora portátil.
                Al router principal se conecta de forma inalámbrica una computadora de ecritorio, 
                mientras que al router secundario se conectan (también de forma inalámbrica), una computadora de escritorio y otra portátil.
                Una de las computadoras portátiles se encuentra bloqueada por dirección MAC.</p>
                <p>Los nodos estan configurados con un rango a partir del 200 y permiten alojar 9 Host.</p>
        </div>
        <div class="col-sm-10 col-md-6 col-lg-6 imgdr">
            <img class="img-fluid" [src]="miPortfolio.imgdred" />
        </div>
    </div>
</div>
-->
<div class="lineaproy">
    <br>
    <div class="recua">
        <div class="col-xs-12 col-sm-10 col-md-10 col-ig-10">
            <ul>
                <h2><u>Proyectos</u></h2>
                <br>
                <br>
                <div class="contenedor">
                    <img [src]="miPortfolio.imgdred" width="600" height="320" />
                    <br>
                    <br>
                    <br>
                    <h3>Diseño de red</h3>
                    <p>Utilizando packet tracer realicé un diseño de red donde se representan dos routers,
                        a los cuales se conectan (a cada mediante cable), dos computadoras de escritorio y una
                        computadora portátil.
                        Al router principal se conecta de forma inalámbrica una computadora de escritorio,
                        mientras que al router secundario se conectan (también de forma inalámbrica), una computadora de
                        escritorio y otra portátil.
                        <br>
                        Una computadora portátil se encuentra bloqueada por dirección MAC.
                        <br>
                        Los nodos estan configurados con un rango a partir del 200 y permiten alojar 9 Host.
                </div>
            </ul>
        </div>
    </div>
 <br>
<br>
<br>
<br>
</div>
<br>