.row{
    padding: 20px;
}

.contenedorp{
    width: auto;
    text-align: justify;
}

.textproy, .imgdr{
    display: inline-block;
    text-align: justify;
}

.lineaproy{
    background-color:  #dcedc8 ;
}

/* 
.lineaproy{
    border-top: 8px solid #0fb138;
    border-bottom: 8px solid rgb(15, 177, 56); 
    
} 
*/